.body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: white;
  color: #7282a7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 40vw;
}

.login-box {
  width: 800%; 
  max-width: 1800px; 
}

.main-logo {
  display: block;
  max-width: 800%; 
}

h2 {
  margin-bottom: 20px;
  color: #3ab654;
}

.ui.form .field {
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 2px;
  border: 2px solid #b7e4c1;
}

.ui.button {
  width: 100%;
  background-color: #3ab654;
  color: white;
  border: 1px solid transparent;
  padding: 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 20px;
}

.ui.button:hover {
  background-color: #b7e4c1;
  color: white;
}

.ui.message {
  text-align: center;
  margin-top: 20px;
}

.ui.message a {
  text-decoration: underline;
}
