body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: white;
  color: #7282A7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh;
  color: #7282A7;
  width: 100%; 
  max-width: 1920px; 
  box-sizing: border-box;
  width: 100vw;
}

.register-box {
  width: 100%;
  max-width: 450px;
  text-align: center; 
}

.register-box h2 {
  margin-bottom: 20px;
  color: #3AB654;
}

.register-box .field {
  margin-bottom: 15px;
}

.register-box input {
  width: calc(100% - 2px); 
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 2px solid #B7E4C1;
}

.main-logo {
  max-width: 100%; 
  width: 100%; 
  margin-bottom: 20px;
}

.register-box .ui.button {
  width: auto;
  background-color: #3AB654;
  color: white;
  border: 1px solid transparent;
  padding: 6px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  font-size: 20px; 
}

.register-box .ui.button:hover {
  background-color: #B7E4C1;
  color: white;
}
